/*
Plugin Name: Pulse - Heartbeat API Example
Plugin URI: https://github.com/jeffikus/pulse
Description: Pulse by Jeffikus is an example plugin for the Heartbeat API!
Version: 1.0.0
Author: Jeffikus
Author URI: http://jeffikus.com/
License: GPL version 2 or later - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/
/*-----------------------------------------------------------------------------------*/
/* Frontend Stylesheet */
/*-----------------------------------------------------------------------------------*/